.crypto-ticker {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  height: auto;
}

.crypto-ticker-content {
  display: inline-flex;
  animation: ticker-move 110s linear infinite;
  white-space: nowrap;
}

.crypto-item {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
}

.crypto-icon {
  width: 26px;
  height: 26px;
}

.crypto-info {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.crypto-name {
  font-weight: bold;
  font-size: 0.9rem;
  color: #001f3f;
}

.crypto-abbreviation {
  font-weight: normal;
  color: #001f3f;
  font-size: 0.8rem;
}

.crypto-price {
  font-size: 1rem;
  font-weight: bold;
  color: #28a745;
}

.crypto-change {
  font-size: 0.8rem;
}

.crypto-change.positive {
  color: #28a745;
}

.crypto-change.negative {
  color: #dc3545;
}

@keyframes ticker-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 900px) {
  .crypto-item {
    gap: 0.2rem;
    padding: 0.3rem 0.2rem;
    font-size: 0.9rem;
    flex-direction: column;
    justify-content: center;
  }

  .crypto-name {
    display: none;
  }

  .crypto-icon {
    width: 24px;
    height: 24px;
  }

  .crypto-price {
    font-size: 0.9rem;
  }

  .crypto-change {
    font-size: 0.7rem;
  }
}

@media (max-width: 550px) {
  .crypto-ticker {
    height: 40px;
    padding-top: 0.2rem;
  }

  .crypto-item {
    min-width: 120px;
    gap: 0.2rem;
    padding: 0.2rem 0.3rem;
  }

  .crypto-icon {
    width: 16px;
    height: 16px;
  }

  .crypto-price {
    font-size: 0.7rem;
  }

  .crypto-change {
    font-size: 0.6rem;
  }
}
