.banner-container {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 250px;
  height: auto;
  z-index: 1;
}

.crypto-ticker {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -5px;
}

.crypto-ticker-content {
  display: inline-flex;
  animation: ticker-move 20s linear infinite;
  white-space: nowrap;
}

.crypto-item {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
}

.crypto-info {
  margin-top: 0;
}

@keyframes ticker-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1200px) {
  .banner-container {
    margin-top: 1rem;
    height: 50vh;
  }

  .banner-logo {
    top: 45%;
    left: 50%;
    width: 12%;
  }
}

@media (max-width: 550px) {
  .banner-container {
    margin-top: 22vh;
    height: auto;
  }

  .banner-image {
    object-fit: contain;
  }

  .banner-logo {
    left: 52%;
    top: 45%;
    width: 14%;
  }
}

